@import url('https://fonts.cdnfonts.com/css/general-sans');
@import url('https://fonts.cdnfonts.com/css/cabinet-grotesk');


* {
    margin: 0;
    padding: 0;
    font-family: 'General Sans', sans-serif;
    box-sizing: border-box;
}

:root {
    --text-color: #d1d1c7;
    --underline-color: #8c8c73;
    --black-color: #0e0e0c;
    --white-color: #ffffff;
    --grey-color: #262626;
    --beige-color: #fafaf9;
    --transition-speed: 1s;
    --skills-item-color: #aeae9d;
    --easyness: cubic-bezier(0.165, 0.84, 0.44, 1);
    --animation-speed: 0.8s;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--black-color);
    color: var(--beige-color);
    cursor: none;
    transition: background-color var(--transition-speed) cubic-bezier(0.165, 0.84, 0.44, 1);
}

#header {
    width: 100%;
    min-height: 100vh;
    background-color: var(--black-color);
    background-size: cover;
    background-position: 10px;
}

.container {
    padding: 10px 2%;
}

.cursor-dot {
    width: 10px;
    height: 10px;
    background-color: var(--underline-color);
}

.cursor-outline {
    width: 100px;
    height: 100px;
    border: 1px solid var(--underline-color);
}

.cursor-dot,
.cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1001;
    pointer-events: none;
}

/* navigation bar */

nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 1.5% 5px 1.5%;
    background-color: var(--black-color);
    transition: background-color var(--transition-speed) var(--easyness);
    /* backdrop-filter: blur(10px); */
}

nav h2 {
    font-family: 'Cabinet Grotesk';
    color: #d1d1c7;
    transition: color var(--transition-speed) var(--easyness);
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a {
    font-family: 'Cabinet Grotesk';
    color: var(--text-color);
    text-decoration: none;
    font-size: 2.3vh;
    position: relative;
    transition: color var(--transition-speed) var(--easyness);
    cursor: none;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--underline-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li.special-background {
    background-color: var(--text-color);
    padding: 10px 30px;
    border-radius: 50px;
    margin: 10px 0px;
    transition: background-color var(--transition-speed) var(--easyness);
}
  
nav ul li.special-background a {
    color: var(--black-color);
}

nav ul li.special-background::hover {
    background-color: var(--black-color);
    border: 1px solid var(--text-color);
    color: var(--text-color);
}

.cube-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.section-heading {
    font-size: 17vh;
    font-weight: 500;
    letter-spacing: -3px;
    font-family: 'General Sans';
    text-align: center;
    padding: 20px;
    user-select: none;
    color: var(--underline-color);
    transform: translateY(150px);
    transition: transform var(--animation-speed), opacity var(--animation-speed);
}

.section-heading svg {
    vertical-align: middle;
    margin-top: -0.2em;
}

.new-btn {
    background: var(--beige-color);
    box-shadow: 4px 4px var(--text-color), 9px 9px var(--underline-color);
    color: #151515;
    text-transform: lowercase;
    border: none;
    text-decoration: none;
    padding: 14px 30px;
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    position: relative;
    z-index: 1;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    overflow: hidden;
    transition-delay: 0s !important;
    text-transform: uppercase !important;
    letter-spacing: 1.5px;
    font-family: freight-sans-pro, sans-serif;
    cursor: none;
    margin-top: 3vh;
}

.new-btn::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #151515;
    z-index: -1;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.new-btn:hover::before {
    width: 100%;
    left: 0;
    right: unset;
}

.new-btn:hover {
    box-shadow: 0 0 var(--text-color), 0 0 var(--black-color);
    color: var(--beige-color);
}

.new-btn a {
    text-decoration: none;
}

.form-btn {
    background: var(--beige-color);
    box-shadow: 4px 4px var(--text-color), 9px 9px var(--underline-color);
    color: #151515;
    text-transform: lowercase;
    border: none;
    text-decoration: none;
    padding: 14px 30px;
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    position: relative;
    z-index: 1;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    overflow: hidden;
    transition-delay: 0s !important;
    text-transform: uppercase !important;
    letter-spacing: 1.5px;
    font-family: 'General Sans';
    cursor: none;
}
.form-btn::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #151515;
    z-index: -1;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.form-btn:hover::before {
    width: 100%;
    left: 0;
    right: unset;
}
.form-btn:hover {
    box-shadow: 0 0 var(--text-color), 0 0 #151515;
    color: var(--beige-color);
}


.main-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    /* background-color: var(--black-color); */
    transition: background-color var(--transition-speed) var(--easyness);
}

.main-image {
    flex-basis: 35%;
    padding: 80px 0;
    width: 200px;
    border-radius: 5%;
    color: #ababab;
}

#header {
    background-color: var(--black-color);
    transition: background-color var(--transition-speed) var(--easyness);
}

.header-text {
    color: var(--text-color);
    margin-top: 15%;
    font-size: 40px;
    letter-spacing: -2px;
    user-select: none;
}

.header-text h1 {
    font-family: 'General Sans';
    font-size: 14vh;
    font-weight: 800;
    margin-top: 20px;
}

.header-text p {
    font-family: 'Cabinet Grotesk';
    font-size: 30px;
    margin: 0px 0px 20px 10px;
}


/* ---------------------- about ---------------------- */
.char {
    transform: translateY(150px);
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#about {
    padding: 80px 0;
    color: #ababab;
}

.section-heading {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.about-row {
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.about-image {
    width: 53%;
    padding: 7vh;
}

.about-image img {
    width: 100%;
    border-radius: 5px;
    transition: box-shadow 0.25s, transform 0.25s;
}

.about-image img:hover {
    width: 100%;
}

.about-description {
    width: 50%;
    padding: 7vh 8vh 7vh 0;
}

.description-header {
    font-size: 8.5vh;
    font-family: 'General Sans';
    font-weight: 600;
    color: var(--black-color);
    transform: translateY(150px);
    opacity: 0.5;
    transition: transform var(--animation-speed), opacity var(--animation-speed);
}

.show, 
.about-description p.show, 
.skills-description.show, 
.contact-form-header.show {
    transform: translateY(0);
    opacity: 1;
}

.section-heading.show {
    transform: translateY(0);
}

.about-description p {
    color: var(--grey-color);
    font-size: 4.3vh;
    font-family: 'Cabinet Grotesk';
    line-height: 1.2;
    margin-top: 40px;
    transform: translateY(100px);
    opacity: 0.5;
    transition: transform var(--animation-speed), opacity var(--animation-speed);
}


/* skills */
#skills {
    padding: 30px 0;
}

.skills-row {
    margin-top: 1vh;
    margin-bottom: 10vh;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.skills-description {
    width: 50%;
    margin: 0 9vh 9vh 9vh;
    color: var(--grey-color);
    display: flex;
    flex-direction: column;
    transform: translateY(100px);
    opacity: 0.5;
    transition: transform var(--animation-speed), opacity var(--animation-speed);
}

.skill-header {
    font-size: 8.5vh;
    font-family: 'General Sans';
    font-weight: 600;
    user-select: none;
}

.skill-description {
    font-size: 3.8vh;
    font-family: 'Cabinet Grotesk';
    line-height: 1.2;
    margin-top: 3.7vh;
    width: 92%;
}

.skills-list {
    width: 50%;
    color: var(--grey-color);
}

.skill-item {
    display: flex;
    flex-direction: row;
    margin: -3vh;
    font-size: 9vh;
    font-family: 'Arial';
    font-weight: 700;
    font-family: 'General Sans';
    user-select: none;
    color: var(--skills-item-color);
}

/* experience */
.experience {

}

.experience-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 8vh 20vh 8vh;
    color: var(--black-color);
}

.experience-item {
    display: flex;
    flex-direction: row;
    margin: 0 9vh 9vh 9vh;
    transform: translateY(100px);
    /* transition: transform var(--animation-speed), opacity var(--animation-speed); */
}

.experience-year {
    font-size: 3.5vh;
    font-family: 'Cabinet Grotesk';
    line-height: 1.2;
    margin-top: 3.7vh;
    color: var(--underline-color);
    font-weight: 500;
    width: 100%;
}

.experience-header {
    user-select: none;
    /* border-radius: 16px; */
    padding-left: 4vh;
    border-top-left-radius: 4.5vh;

    border-top: 0.5vh solid var(--underline-color);
    border-left: 0.5vh solid var(--underline-color);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.experience-header ul li {
    list-style: disc;
    list-style-type:square;
    margin-left: 10vh;
}

.experience-company {
    font-size: 10vh;
    font-family: 'Cabinet Grotesk';
    line-height: 1.1;
    margin-top: 2vh;
    letter-spacing: 4px;
    color: var(--black-color);
    width: 100%;
}

.experience-job-title {
    font-size: 4vh;
    font-family: 'Cabinet Grotesk';
    line-height: 1.2;
    margin-top: 3.7vh;
    letter-spacing: 1vh;
    width: 100%;
    color: var(--black-color);
}

.company-list {
    width: 75%;
    margin-top: 2vh;
    padding-bottom: 5vh;
    padding-top: 3vh;
}

.company-list-item {
    font-size: 4vh;
    font-family: 'Arial';
    font-weight: 600;
    font-family: 'Cabinet Grotesk';
    color: var(--black-color);
    user-select: none;
    margin-bottom: 2vh;
    list-style-type: disc;
}


/* projects */
.projects-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 14vh;
}

.projects-odd-item {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    margin-bottom: 20px;
    justify-content: space-around;
    transition: background-color 0.2s ease-in-out;
}

.projects-even-item {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 8px;
    margin-bottom: 20px;
    justify-content: space-around;
    transition: background-color 0.2s ease-in-out;
}

.projects-header {
    font-size: 24px;
    font-family: "Cabinet Grotesk", sans-serif;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 10px;
}

.projects-description {
    color: var(--beige-color);
    font-size: 4vh;
    font-weight: 200;
}

.projects-description:hover + .cursor-dot {
    width: 100px;
    height: 100px;
}

.project-top {
    display: flex;
    flex-direction: row;
    user-select: none;
}

.project-year, .stack {
    font-size: 3.5vh;
    color: var(--underline-color);
    border-radius: 50px;
    padding: 0.2vh 2vh;
    border: 1px solid var(--underline-color);
    letter-spacing: -1px;
}

.project-year {
    margin-right: 1vh;
}

.projects-name {
    margin-top: 3vh;
    font-size: 6vh;
    color: var(--beige-color);
    font-weight: 500;
}

.project-technologies {
    font-weight: bold;
}

.projects-image {
    position: relative;
    width: 60%;
}

.projects-info-odd {
    width: 40%;
    margin-left: 8vh;
    margin-bottom: 60vh;
}

.projects-info-even {
    width: 40%;
    margin-right: 8vh;
    margin-bottom: 50vh;
}

.projects-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.background-image {
}

.projects-image video {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    height: 85%;
    transform: translate(-50%, -50%);
}

.screenshot {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* contact */

.contact {
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}

.contact-form {
    width: 60%;
    margin: 0 9vh 9vh 9vh;
    color: var(--grey-color);
    display: flex;
    flex-direction: column;
}

.contact-form-header {
    font-size: 8.5vh;
    letter-spacing: -3px;
    font-family: 'General Sans';
    font-weight: 600;
    transform: translateY(100px);
    opacity: 0.5;
    transition: transform var(--animation-speed), opacity var(--animation-speed);
}

.contact-details p, 
.my-digital-spaces a, 
.location p,
.interesting-stuff ul li a {
    color: var(--grey-color);
    font-size: 4.1vh;
    font-family: 'Cabinet Grotesk';
    margin-top: 1vh;
}

.my-digital-spaces a,
.interesting-stuff a {
    text-decoration: none;
    cursor: none;
} 

.my-digital-spaces ul,
.interesting-stuff ul {
    padding: 0;
}

.my-digital-spaces ul li,
.interesting-stuff ul li {
    display: block;
    list-style: none;
    margin: 8px 0px 8px;
    position: relative;
}

.my-digital-spaces ul li a i,
.interesting-stuff ul li a i {
    color: #666666;
    margin-right: 2vh;
    font-size: 3.5vh;
}

.my-digital-spaces ul li a,
.interesting-stuff ul li a {
    font-family: 'Cabinet Grotesk';
    color: var(--black-color);
    text-decoration: none;
    font-size: 3.7vh;
    position: relative;
}

.my-digital-spaces ul li a::after,
.interesting-stuff ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    border-radius: 50px;
    background-color: var(--underline-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

.my-digital-spaces ul li a:hover::after,
.interesting-stuff ul li a:hover::after {
    width: 100%;
}

.custom-class {
    margin-bottom: 4vh;
}

.contact-other-header {
    font-family: 'General Sans';
    font-size: 5vh;
    font-weight: 600;
    margin-top: 0vh;
    color: var(--grey-color);
}


.download-btn {
    display: inline-block;
    background: var(--main-color);
    color: var(--black-color);
    border: 2px solid var(--main-color);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    font-weight: 600;
    transition: background 0.1s ease-in-out, border 0.1s ease-in-out;
}

.download-btn:hover {
    border: 2px solid var(--main-color);
}

.download-cv-text {
    transform: translateZ(20px);
}

.contact-right form {
    width: 100%;
}

.name-email {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name-email input {
    width: 48%;
}

form input::placeholder, 
form textarea::placeholder {
    color: var(--underline-color);
    font-family: 'Cabinet Grotesk';
    cursor: none;
}

form input, 
form textarea {
    cursor: none;
    width: 100%;
    border-bottom: 1px solid var(--underline-color);
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    background: var(--beige-color);
    padding: 15px;
    margin: 15px 0;
    color: var(--black-color);
    font-size: 18px;
    transition: background-color var(--transition-speed) var(--easyness);
}

textarea {
    resize: none;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    color: var(--black-color);
}

.copyright {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 300;
}

.site-designed {
    width: 33%;
    font-size: 2.5vh;
}

.back-to-top {
    width: 33%;
    cursor: none;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-bottom: 2vh;
    padding-right: 3vh;
    font-size: 2.5vh;
    font-family: 'General Sans';
    font-weight: 600;
    letter-spacing: -1px;
    transition: letter-spacing 0.3s;
    text-decoration: none;
}

.back-to-top:hover {
    letter-spacing: 0px;
}

.back-to-top i {
    margin-left: 2vh;
}

.copyright p {
    color: var(--black-color);
}

.copy {
    width: 33%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 2vh;
    padding-bottom: 1vh;
}

.copy p {
    font-size: 3vh;
    font-family: 'General Sans';
    letter-spacing: -1px;
    font-weight: 700;
}

.copy span {
    font-weight: 300;
}

nav .fa-sharp, nav .fa-solid {
    display: none;
}

.to-top {
    background: var(--grey-color);
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: white;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    z-index: 2;
}

.to-top:hover {
    box-shadow: 0 0 2px 2px var(--grey-color);
}

.to-top:active {
    background: var(--black-color);
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}


/* progress bar */
.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
}

.progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
}
